main {
    background-color: #160d68;
}

body{
    color: #518bc5;
}

.navbar {
    color: #518bc5;
}

.o_cc1{
    background-color: #0d0b34;
}

.s_text_image {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 49%, rgba(0,212,255,1) 100%);
}

.s_call_to_action {
    background-color: #160d68;
    cursor: url("https://img.icons8.com/ios/72/genie.png"), auto;
}

footer {
    background-color: #160d68;
    cursor: url("https://img.icons8.com/ios/72/gunter.png"), auto;
}